<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/initial.js" defer></script>
  </head>
  <body>
    {{>header}}
    <div id="main">
      <h1>Home Page of {{ pageOwner }}</h1>
      <p>Do the Right Thing!! {{ msg }}</p>
      <form>
        <input type="text" placeholder="Enter the location" />
        <button id="btn">Get Weather</button>
      </form>
      <div id="weather-info"></div>
    </div>
    {{>footer}}
  </body>
</html>
